/* Fonts */
$fontFamily: 'Helvetica', sans-serif;

$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1273;
$containerPadding: 15;
$containerWidth: $maxWidthContainer + $containerPadding;

/* Dimensions */
$TV_8k: 7680 + px; 
$TV_4k: 3840 + px; 
$TV_fullHD: 1921 + px; 
$iMac: 1399 + px;
$macBook: 1199 + px;
$ipad: 991 + px;
$ipod: 767 + px;
$iphone: 575 + px;

/* Colors */
$mainColor: #121212;
